head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
  title Library
  link(rel="stylesheet" href= cssSrc media="screen")
  link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  script(async src= jsSrc)
